
{% extends "admin/base.html" %}

{% block content %}
<form method="post" action="{{ url_for('save') }}" enctype='multipart/form-data'>
    <fieldset>
        <legend class="hidden-first">Add New Users</legend>
        <input name="cat" type="hidden" value='admintable'>
        <input name="modifier" type="hidden" value='id'>
        <input name="id" type="hidden" value="{{data['id']}}">
        <input name="act" type="hidden" value="{{act}}">
    
        <label>Name</label>
        <input 
            class="form-control" 
            type="text" 
            name="name"
            value="{{data['name']}}" /><br>
        <label>Email</label>
        <input 
            class="form-control" 
            type="text" 
            name="email"
            value="{{data['email']}}" /><br>
        <label>Password</label>
        <input 
            class="form-control" 
            type="text" 
            name="password"
            value="{{data['password']}}" /><br>
        <label>Role</label>
        <input 
            class="form-control" 
            type="text" 
            name="role"
            value="{{data['role']}}" /><br><br>
        <input type="submit" value=" Save " class="btn btn-success">
    </fieldset>
</form>
{% endblock %}