{% extends 'layout2.html' %}

{% block body %}
<!-- header section start -->
<div class="header_section">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
       <div class="logo"><a href="{{ url_for('home2') }}"><img style = "width: 20% !important;" src="{{ url_for('static', filename='images/avodoc-high-resolution-logo-color-on-transparent-background (2).png') }}"></a></div>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
             <a class="nav-item nav-link" href="{{ url_for('home2') }}">Home</a>
         
          </div>
       </div>
       <div class="login_menu">
          <ul >
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('crop_recommend') }}">Crop</a>
            </li>
           <li class="nav-item">
               <a class="nav-link" href="{{ url_for('disease_prediction') }}">Disease</a>
           </li>
           <li class="nav-item">
               <a class="nav-link text-capitalize" href="{{ url_for('profile') }}">{{ username }}</a>
           </li>
           <li class="nav-item">
               <a class="nav-link" href="{{ url_for('logout') }}">LOG OUT</a>
           </li>
          </ul>
       </div>
    </nav>

    
        </div>

        <div class="container layout_padding" style="padding-bottom: 280px;">
            <form method="post" action="{{ url_for('saveprofile') }}" enctype='multipart/form-data' style="color: black;">
               
                    <legend class="hidden-first">Edit Profile</legend>
                    <input name="cat" type="hidden" value='farmers'>
                    <input name="modifier" type="hidden" value='id'>
                    <input name="id" type="hidden" value="{{data['id']}}">
                    <input name="act" type="hidden" value="{{act}}">
                
                    <label>Username</label>
                    <input 
                        class="form-control" 
                        type="text" 
                        name="username"
                        value="{{data['username']}}" /><br>
                    <label>Email</label>
                    <input 
                        class="form-control" 
                        type="text" 
                        name="email"
                        value="{{data['email']}}" /><br>
                    <label>Password</label>
                    <input 
                        class="form-control" 
                        type="text" 
                        name="password"
                        value="{{data['password']}}" /><br>
                    <br><br>
                    <input type="submit" value=" Save " class="btn btn-success">
                
            </form>
        </div>
{% endblock %}