{% extends 'layout2.html' %}

{% block body %}
<!-- header section start -->
<div class="header_section">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
       <div class="logo"><a href="{{ url_for('home2') }}"><img style = "width: 20% !important;" src="{{ url_for('static', filename='images/avodoc-high-resolution-logo-color-on-transparent-background (2).png') }}"></a></div>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
             <a class="nav-item nav-link" href="{{ url_for('home2') }}">Home</a>
         
          </div>
       </div>
       <div class="login_menu">
          <ul >
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('crop_recommend') }}">Crop</a>
            </li>
           <li class="nav-item">
               <a class="nav-link" href="{{ url_for('disease_prediction') }}">Disease</a>
           </li>
           <li class="nav-item">
               <a class="nav-link text-capitalize" href="{{ url_for('profile') }}">{{ username }}</a>
           </li>
           <li class="nav-item">
               <a class="nav-link" href="{{ url_for('logout') }}">LOG OUT</a>
           </li>
          </ul>
       </div>
    </nav>
    </div>

    <div class="container layout_padding" style="padding-bottom: 280px;">
        <div class="main-body">
        
             <br><br>      
             <legend class="hidden-first">Edit Profile</legend>
                <div class="col-md-8">
                  <div class="card mb-3">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">User Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ account['username'] }}
                        </div>
                      </div>
                      <hr>
                        <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Password</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            ******
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ account['email'] }}
                        </div>
                      </div>
                      <hr>
                    
                      <hr>
                      
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Status</h6>
                        </div>
                        <div class="col-sm-9 text-secondary" style="color: green!important;font-weight: bold;">
                            Verified
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-12">
                          
                           <a class="btn btn-info " href="./edit_profile/edit/{{ account['id'] }}" class="link-button" >Edit</a> 
                           <a class="btn btn-info " href="/home2" class="link-button" >Back</a> 
                        </div>
                      </div>
    
                    </div>
                  </div>
    
                   
    
    
    
                </div>
              </div>
    
            </div>
       
{% endblock %}