{% extends 'login/layout.html' %}

{% block body %}

<div class="container">
    
    <div class="forms-container">
      {% include "includes/alert.html" %}
      <div class="signin-signup">
        <form action="/logini" method="post" class="sign-in-form" name="login">
          <h2 class="title">Sign in</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Email Address" id="email_address" name="email" required autofocus />
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Password" id="password" name="password" required />
          </div>
          <div class="msg">{{ msg }}</div>
          <input type="submit" value="Login" class="btn solid" name="login" />
          <a class="social-text" href="/forgot_password" class="btn btn-link">Forgot Your Password?</a>
          <p class="social-text">Or Sign in with social platforms</p>
          <!--<div class="social-media">
            <a href="#" class="social-icon">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-google"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>-->
        </form>
        <form action="/register" method="POST" name="register" class="sign-up-form">
          <h2 class="title">Sign up</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Username" id="uname" name="uname" required/>
          </div>
          <div class="input-field">
            <i class="fas fa-envelope"></i>
            <input type="email" placeholder="Email" id="email" name="email" required autofocus/>
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Password" id="password" name="password" required autofocus/>
          </div>
          <div class="msg">{{ msg }}</div>
          <input type="submit" class="btn" value="Sign up" name="register" />
          <p class="social-text">Or Sign up with social platforms</p>
          <!--<div class="social-media">
            <a href="#" class="social-icon">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-google"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-linkedin-in"></i>
            </a> 
          </div>-->
        </form>
      </div>
    </div>

    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>New here ?</h3>
          <p>
            Welcome to AVODOC
          </p>
          <button class="btn transparent" id="sign-up-btn">
            Sign up
          </button>
        </div>
        <a href="{{ url_for('home1') }}"><img src="{{ url_for('static', filename='images/palta.svg') }}" class="image" alt="" /></a>
        
      </div>
      <div class="panel right-panel">
        <div class="content">
          <h3>One of us ?</h3>
          <p>
            welcome to AVODOC
          </p>
          <button class="btn transparent" id="sign-in-btn">
            Sign in
          </button>
        </div>
        <a href="{{ url_for('home1') }} "><img src="{{ url_for('static', filename='images/bce58c63.svg') }}" class="image" alt="" /></a>
        
      </div>
    </div>
  </div>

  {% endblock %}