<!-- {% extends 'layout.html' %} -->

{% block body %}

<style>

    html body {
      background-color: rgb(206, 206, 228);

      
  }

  
</style>
<!-- header section start -->
<div class="header_section">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
     <div class="logo"><a href="{{ url_for('home2') }}"><img style = "width: 20% !important;" src="{{ url_for('static', filename='images/avodoc-high-resolution-logo-color-on-transparent-background (2).png') }}"></a></div>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
           <a class="nav-item nav-link" href="{{ url_for('home1') }}">Home</a>
       
        </div>
     </div>
     <div class="login_menu">
        <ul>
         <li class="nav-item">
             <a class="nav-link active" href="{{ url_for('crop_recommend') }}">Crop</a>
             <span class="sr-only">(current)</span>
         </li>

         <li class="nav-item">
             <a class="nav-link" href="{{ url_for('disease_prediction') }}">Disease</a>
         </li>
         <li class="nav-item">
             <a class="nav-link text-capitalize" href="{{ url_for('profile') }}">{{ username }}</a>
         </li>
         <li class="nav-item">
             <a class="nav-link" href="{{ url_for('logout') }}" style="a:hover {color: #757575!important;background-color: #5f0404!important;}">
              Logout</a>
         </li>
        </ul>
     </div>
  </nav>
  </div>
<div class="container layout_padding">
  <!--Form Section-->
<br /><br />
<h2 style="text-align: center; margin: 0px; color: black">
  <b>Find out the most suitable crop to grow in your farm</b>
</h2>
<br />

<div
  style="
    width: 350px;
    height: 50rem;
    margin: 0px auto;
    color: black;
    border-radius: 25px;
    padding: 10px 10px;
  "
>
  <form method="POST" action="{{ url_for('crop_prediction') }}">
    <div class="form-group">
      <label for="Nitrogen" style="font-size: 17px"><b>Nitrogen</b></label>
      <input
        type="text"
        class="form-control"
        id="Nitrogen"
        name="nitrogen"
        placeholder="Enter the value (example:50)"
        style="font-weight: bold"
        required
      />
    </div>
    <div class="form-group">
      <label for="Phosphorous" style="font-size: 17px"
        ><b>Phosphorous</b></label
      >
      <input
        type="text"
        class="form-control"
        id="Phosphorous"
        name="phosphorous"
        placeholder="Enter the value (example:50)"
        style="font-weight: bold"
        required
      />
    </div>

    <div class="form-group">
      <label for="Pottasium" style="font-size: 17px"><b>Pottasium</b></label>
      <input
        type="text"
        class="form-control"
        id="Pottasium"
        name="pottasium"
        placeholder="Enter the value (example:50)"
        style="font-weight: bold"
        required
      />
    </div>
    <div class="form-group">
      <label for="ph" style="font-size: 17px"><b>ph level</b></label>
      <input
        type="text"
        class="form-control"
        id="ph"
        name="ph"
        placeholder="Enter the value"
        style="font-weight: bold"
        required
      />
    </div>
    <div class="form-group">
      <label for="Rainfall" style="font-size: 17px"><b>Rainfall (in mm)</b></label>
      <input
        type="text"
        class="form-control"
        id="Rainfall"
        name="rainfall"
        placeholder="Enter the value"
        style="font-weight: bold"
        required
      />
    </div>
    <div class="form-group">
      <label for="county" style="font-size: 17px "><b>County</b></label>
      <br>
      <select
        onchange="print_sub('sub', this.selectedIndex);"
        id="county"
        name="county"
        class="form-control"
        style="font-weight: bold; color: black;"
        
        required
      ></select>
      </div>
      <br>
      <br>
      <br>
      <div class="form-group">
      <label for="sub" style="font-size: 17px"><b>Sub County</b></label>
      <br>
      <select
        id="sub"
        class="form-control"
        name="subcounty"
        style="font-weight: bold; color: black;"
        required
      ></select>
      
    </div>

    <div class="d-flex justify-content-center">
      <button
        type="submit"
        class="btn btn-info"
        style="color: black; font-weight: bold; width: 130px; height:50px; border-radius:12px; font-size: 21px;"
      >
        Predict
      </button>
    </div>
  </form>
</div>



<!-- Form section -->
</div>

{% endblock %}
