<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Avodoc</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style1.css') }}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
      <!-- fevicon -->
      <link rel="icon" href="{{ url_for('static', filename='images/logo3.png') }}" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.mCustomScrollbar.min.css') }}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- owl stylesheets --> 
      <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
      <link rel="stylesoeet" href="{{ url_for('static', filename='css/owl.them.default.min.css') }}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <script type="text/JavaScript" src="{{ url_for('static', filename='scripts/counties.js') }}"></script>
      <script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}

	</script>
   </head>
   <body>
     
         {% block body %} {% endblock %}
          <!-- footer section start --> 
      <div class="footer_section layout_padding">
        <div class="container">
           <div class="row">
              <div class="col-lg-3 col-sm-6">
                 <h2 class="useful_text">About</h2>
                 <p class="ipsum_text">Avodoc</p>
                 <p class="ipsum_text"><a href="/mpesa" style="color:white!important;">Support Us</a></p>
              </div>
              <div class="col-lg-3 col-sm-6">
                 <h2 class="useful_text"></h2>
                 <div class="footer_links">
                    <ul>
                       
                    </ul>
                 </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                 <h2 class="useful_text"></h2>
                 <div class="footer_links">
                    <ul>
                       
                    </ul>
                 </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                 <h2 class="useful_text">contact us</h2>
                 <div class="addres_link">
                    <ul>
                       <li><a href="#"><img src="{{ url_for('static', filename='images/map-icon.png') }}"><span class="padding_left_10">Strathmore University</span></a></li>
                       <li><a href="#"><img src="{{ url_for('static', filename='images/call-icon.png') }}"><span class="padding_left_10">+254769471119</span></a></li>
                       <li><a href="#"><img src="{{ url_for('static', filename='images/mail-icon.png') }}"><span class="padding_left_10">ivanmugunga123@gmail.com</span></a></li>
                    </ul>
                 </div>
              </div>
           </div>
        </div>
     </div>
\
     <div class="copyright_section">
        <div class="container">
           <p class="copyright_text">136030 | Ivan Mugunga</p>
        </div>
     </div>
         
     <!-- Javascript files-->
     <script src="{{ url_for('static', filename='scripts/jquery.min.js') }}"></script>
     <script src="{{ url_for('static', filename='scripts/popper.min.js') }}"></script>
     <script src="{{ url_for('static', filename='scripts/bootstrap.bundle.min.js') }}"></script>
     <script src="{{ url_for('static', filename='scripts/jquery-3.0.0.min.js') }}"></script>
     <script src="{{ url_for('static', filename='scripts/plugin.js') }}"></script>
     <!-- sidebar -->
     <script src="{{ url_for('static', filename='scripts/jquery.mCustomScrollbar.concat.min.js') }}"></script>
     <script src="{{ url_for('static', filename='scripts/custom.js') }}"></script>
     <!-- javascript --> 
     
     <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
     <script src="{{ url_for('static', filename='scripts/service-worker.js') }}"></script>
     <script>
        $(document).ready(function(){
        $(".fancybox").fancybox({
           openEffect: "none",
           closeEffect: "none"
           });
        });
     </script>
     <script type="text/javascript">
      function preview_image(event) {
        var reader = new FileReader();
        reader.onload = function () {
          var output = document.getElementById('output-image')
          output.src = reader.result;
        }
        reader.readAsDataURL(event.target.files[0]);
      }
    </script>
    <script language="javascript">
      print_county("county");
    </script>
    <script>
      window.onload = function() {
          // Call print_county when the page loads
          print_county('county');
  
          // Add an onchange event to the county dropdown
          document.getElementById('county').onchange = function() {
              print_sub('sub', this.selectedIndex);
          }
      }

      document.getElementById('sub').style.display = 'block'; // To show the dropdown
      document.getElementById('sub').style.display = 'none'; // To hide the dropdown
      </script>
    
     <script src="{{ url_for('static', filename='scripts/app.js') }}"></script>
  </body>
</html>